/*Banner Principal*/


.bgimage {
    height: 100vh;

    background-image: url(../img/gif1.gif);

    background-size: cover;
    background-position: center;
}

.hero_tittle {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 1.3rem;
}



/*Seccion 2*/
.title-sect2 {
    font-size: 2.5rem;
}

.info-sect2 {
    text-align: justify;
    font-size: 15px;
}

.infoName {
    font-size: 17px;
}

.btn-cv:hover {
    transform: scale(1.1);

    transition: transform 0.3s;
}

.info-hobbies {
    color: rgb(31, 105, 252);
    font-weight: bold;
    font-size: 1.2rem;
}

.imgIcon:hover {
    transform: scale(1.5);

    transition: transform 0.3s;
}