/*Banner Principal*/


.bgimage {
    height: 100vh;

    background-image: url(../img/gif1.gif);

    background-size: cover;
    background-position: center;
}

.hero_tittle {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 1.3rem;
}


#sobreMi {
    height: auto;
    margin-bottom: 100px;
}


/*Seccion 2*/
.title-sect2 {
    font-size: 2.5rem;
}

.info-sect2 {
    text-align: justify;
    font-size: 15px;
}

.infoName {
    font-size: 17px;
}

.btn-cv:hover {
    transform: scale(1.1);

    transition: transform 0.3s;
}

.info-hobbies {
    color: rgb(31, 105, 252);
    font-weight: bold;
    font-size: 1.2rem;
}

.imgIcon:hover {
    transform: scale(1.5);

    transition: transform 0.3s;
}

/*section skills*/
#Skills {
    height: auto;

}


.tittle-section3 {
    font-size: 2.5rem;
}

.bgimage2 {
    background-image: url(../img/5.jpg);
    background-size: cover;
    background-position: center;
}

.card {
    height: auto;
    border-radius: 20px;
    /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: black;
    */
}

.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* .card-body {
    background-color: white;
} */

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* .carousel-item img {
    height: 500px;
    width: 140vh;
    background-size: cover;
    background-position: center;
} */


/**seciton 4 - Proyectos*/
#Proyectos {
    height: 100vh;
    margin-bottom: 100px;
}

#carouselExampleDark .card {
    background-color: white;
}

#carouselExampleDark .card img {
    height: 450px;
    object-fit: cover;
    width: 100%;
}


#proyectos .carousel-control-prev-icon {
    background-color: black;
    /* fondo negro */
    filter: invert(1);
    /* icono blanco */
    border-radius: 50%;
    /* opcional: circulito */
    padding: 10px;
}

#proyectos .carousel-control-next-icon {
    background-color: black;
    /* fondo negro */
    filter: invert(1);
    /* icono blanco */
    border-radius: 50%;
    /* opcional: circulito */
    padding: 10px;
}

.modal-content .btn-close {
    filter: invert(1);
}

.modal p {
    text-align: justify;
    width: 95%;
    align-items: center;
}